$color-base: #555555;
$color-border: #e2e2e2;
$color-headings: #1e3796;

$font: "Roboto", serif;
$alt-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-body: 16px;
$font-size-body-mobile: 14px;
$font-size-h1: 40px;
$font-size-h1-mobile: 32px;
$font-size-h2: 32px;
$font-size-h2-mobile: 26px;
$font-size-h3: 28px;
$font-size-h3-mobile: 22px;
$font-size-h4: 24px;
$font-size-h4-mobile: 18px;

$line-height-body: 22px;
$line-height-body-mobile: 20px;
$line-height-h1: 46px;
$line-height-h1-mobile: 38px;
$line-height-h2: 38px;
$line-height-h2-mobile: 32px;
$line-height-h3: 34px;
$line-height-h3-mobile: 28px;
$line-height-h4: 30px;
$line-height-h4-mobile: 24px;

$transition-duration: 0.3s;
